table
{
	border-collapse: collapse;
	font-size: medium;
}

th
{
	text-align: left;
	font-size: large;
	padding: 0.2em;
	background-color: cornsilk;
}

td
{
	padding: 0.2em;
}

td.property
{
	font-weight: bold;
}

tr.even
{
	background-color: azure;
}

.note
{
	font-size: x-small;
	font-weight: normal;
	font-style: italic;
}

.indent
{
	text-indent: 15pt;
}

ul.sequence, ol.sequence
{
	list-style: none;
	padding: 0;
	margin-left: 0;
}

.tooltip:hover:after
{
	content: attr(data-tooltip);
	font-weight: normal;
	font-style: italic;
	color: black;
}
