table
{
	border-collapse: collapse;
	font-size: medium;
}

th
{
	text-align: left;
	font-size: large;
	padding: 0.2em;
	background-color: cornsilk;
}

td
{
	padding: 0.2em;
}

td.property
{
	font-weight: bold;
}

tr.odd
{
	background-color: azure;
}

