@import "common.css";

#map
{
	background: #ffffff;
	border: thin inset #aaaaaa;
}

.error-alert
{
	font-weight: bold;
	color: crimson;
}

#header
{
	display: -webkit-flex;
	-webkit-flex-direction: row;
}

.col-box
{
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

.align-right
{
	margin-left: auto;
}

.input-label
{
	font-size: x-small;
	-webkit-align-self: center;
}
