@import "common.css";

/* active alerts */
li.active-error
{
	font-weight: bold;
	color: crimson;
}

li.active-warning
{
	color: lightsalmon;
}

li.active-info
{
	color: mediumblue;
}

li.active-debug
{
}

li.active-no-alerts
{
	font-weight: bold;
	color: green;
}

/* inactive alerts */
li.inactive-error
{
	font-weight: bold;
}

li.inactive-warning
{
}

li.inactive-info
{
}

li.inactive-debug
{
}

li.inactive-no-alerts
{
	font-weight: bold;
}
