@import "common.css";

/* Some good flexbox examples at: http://codepen.io/edge0703/full/qstIo */
#map
{
	background: #ffffff;
	border: thin inset #aaaaaa;
}

#header
{
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
}

.flex-center
{
	-webkit-align-content: center;
	-webkit-flex-wrap: wrap;
}

.col-box
{
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

.row-box
{
	display: -webkit-flex;
	-webkit-flex-direction: row;
}

.align-middle
{
	-webkit-align-self: center;
}

.align-right
{
	margin-left: auto;
}

.input-label
{
	font-size: x-small;
	-webkit-align-self: center;
}
