table
{
	border-collapse: collapse;
	font-size: medium;
}

th
{
	text-align: left;
	font-size: large;
	padding: 0.2em;
	background-color: cornsilk;
}

td
{
	padding: 0.2em;
}

tr.odd
{
	background-color: azure;
}

ul.list
{
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}
