// If vers is changed then change the version in gnos.rs and in the scripts.
#[link(name = "gnos", vers = "0.1", uuid = "3043445D-FD01-4543-9B1C-1FD96BE62CEF")];

#[author = "Jesse Jones"];
#[license = "MIT"];
#[doc = "Web based network management system"];

// TODO: enable these when rustc shakes out more
#[forbid(unused_imports)];
#[forbid(implicit_copies)];
#[forbid(deprecated_pattern)];
#[allow(deprecated_mode)];	// TODO: enable some more of these
#[allow(non_implicitly_copyable_typarams)];
#[allow(structural_records)];

extern mod std;
extern mod mustache (name = "mustache", vers = "0.1");
extern mod rrdf (name = "rrdf", vers = "0.2");
extern mod runits (name = "runits", vers = "0.1");
extern mod rwebserve (name = "rwebserve", vers = "0.2");

mod db;
mod gnos;
mod model;
mod options;
mod ring_buffer;
mod samples;
mod task_runner;
mod utils;
mod handlers
{
	mod get_home;
	mod get_interfaces;
	mod get_query;
	mod get_models;
	mod get_query_store;
	mod get_subject;
	mod put_snmp;
	mod snmp;
}

#[cfg(test)]
mod tests
{
	mod test_model;
	mod test_utils;
}
