// If vers is changed then change the version in gnos.rs and in the scripts.
#[link(name = "gnos", vers = "0.1", uuid = "3043445D-FD01-4543-9B1C-1FD96BE62CEF")];

#[author = "Jesse Jones"];
#[license = "MIT"];
#[doc = "Web based network management system"];

// TODO: enable these when rustc shakes out more
#[warn(non_camel_case_types)];
#[allow(implicit_copies)];
#[allow(deprecated_mode)];
#[allow(non_implicitly_copyable_typarams)];
#[allow(deprecated_pattern)];
#[allow(unused_imports)];
#[allow(structural_records)];

use std;
use mustache (name = "mustache", vers = "0.1");
use rrdf (name = "rrdf", vers = "0.2");
use runits (name = "runits", vers = "0.1");
use rwebserve (name = "rwebserve", vers = "0.2");

mod db;
mod gnos;
mod model;
mod options;
mod task_runner;
mod utils;
mod handlers
{
	mod get_home;
	mod get_query;
	mod get_map;
	mod get_models;
	mod get_query_store;
	mod get_subject;
	mod put_snmp;
}

#[cfg(test)]
mod tests
{
	mod test_model;
	mod test_utils;
}
